/* About Style */
#about-section {
  display: flex;
  width: 100%;
  gap: 5%;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}
.about-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.about-picture {
  position: relative;
  width: 30%;
  height: 40%;
  background-size: cover;
  z-index: 127;
}
.about-text {
  width: 60%;
  height: fit-content;
  color: white;
  font-family: Inter, var(--default-font-family);
  font-weight: 400;
  line-height: 30px;
  text-align: justify;
  z-index: 126;
  box-shadow: 0 0 8px 8px rgba(19, 45, 63, 0.3);
  padding: 30px;
}

.about-me {
  text-align: center;
  font-size: var(--headingFontSize);
  color: white;
  font-family: Poppins, var(--default-font-family);
}
/* ----For small screen---- */
@media only screen and (max-width: 600px) {
  #about-section {
    padding: 30px 10px;
  }
  .about-container {
    padding: 20px;
    width: 100%;
  }
  .about-picture {
    width: 100%;
    height: fit-content;
    align-items: center;
    justify-content: center;
  }
  .about-text {
    width: 100%;
    height: fit-content;
    text-align: justify;
  }
  .about-profile {
    width: 100%;
  }
  .about-me {
    font-size: var(--headingFontSizeS);
  }
}
